@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.clock {
  position: relative;
  width: 450px;
  height: 450px;
  background: #001c2a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 10px 50px 70px rgba(0,0,0,0.25), */
  /* inset 5px 5px 10px rgba(0,0,0,0.5), */
  /* inset 5px 5px 20px rgba(0,0,0,0.2), */
  /* inset 5px 5px 10px rgba(0,0,0,0.75), */
}

.clock span {
  position: absolute;
  inset: 20px;
  color: rgb(151, 246, 83);
  text-align: center;
  transform: rotate(calc(30deg*var(--i)));
}

.clock span b {
  font-size: 2em;
  /* opacity: 0.75; */
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg*var(--i)));
}

.clock::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #43658b;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 9;
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(0,0,0,0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 6;
}

.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background: var(--clr);
  opacity: 0.75;
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.circle:nth-child(1) i {
  width: 2px;
}

.circle:nth-child(2) i {
  width: 6px;
}

.circle2 {
  width: 240px;
  height: 240px;
  z-index: 7;
}

.circle3 {
  width: 180px;
  height: 180px;
  z-index: 8;
}

.circle::before {
  content: '';
  position: absolute;
  top: -8.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 20px var(--clr), 
  0 0 60px var(--clr);
}

.alert {
  position: fixed;
  /* padding: 35px; */
  bottom: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background: var(--clr);
  z-index: 10;
  
}
/* 
@keyframes myfirst {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
} */

.alert p {
  position: relative;
  margin-top: -9px;
  font-size: 2em;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  /* color: aqua; */
  /* animation: myfirst 2s linear 2s infinite alternate; */
}

@keyframes rotation {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(45deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(315deg);}
  100% {transform: rotate(360deg);}
}

.alert p:hover {
  animation: rotation 1s linear;
}

@keyframes navigation {
  0%   {width: 30px;}
  25%  {width: 14%;}
  50%  {width: 50%;}
  75%  {width: 85%;}
  100% {width: 100%; margin: 35px;}
}
/* 
.alert:after {
  animation: navigation 1s linear;
} */
/* .alert:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
} */

.alert:active:after {
  width: 100%;
  height: 100%;
}

.alert:active {
  /* top: 1px; */
  transition: width 2s, height 2s;
}